<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.miller.muckup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_bula"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_bula"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".jobs.FirebaseJobs"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <activity android:name=".evaluate.view.EvaluateAct" />
        <activity android:name=".passwordRecovery.view.PasswordRecovery" />
        <activity android:name=".menuPrincipal.views.activities.DepartamentManager" />
        <activity android:name=".menuPrincipal.views.activities.MyBuys" />
        <activity android:name=".menuPrincipal.views.activities.MyCart" />
        <activity
            android:name=".store.buy.view.BuyActivity"
            android:label="@string/title_activity_buy"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".store.views.activities.Store"
            android:label="@string/title_activity_store" />
        <activity android:name=".medicine.activities.Medicine" />
        <activity
            android:name=".menuPrincipal.views.activities.MenuPrincipal"
            android:label="@string/title_activity_menu_principal" />
        <activity android:name=".register.view.Register" />
        <activity android:name=".login.views.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>